
<script type="text/javascript">
//1차카테고리
var category = $('#category').val().split('_')[0];
switch(category){
	case 'fashion' :
		$('.category').append('패션/뷰티');
	break;
	case 'food' :
		$('.category').append('음식/여행');
	break;
	case 'hobby' :
		$('.category').append('취미/게임');
	break;
	case 'life' :
		$('.category').append('생활/쇼핑');
	break;
	case 'edu' :
		$('.category').append('정치/교육');
	break;
	case 'digital' :
		$('.category').append('디지털/가전');
	break;
	case 'car' :
		$('.category').append('자동차/교통');
	break;
	case 'media' :
		$('.category').append('방송/연예');
	break;
	case 'sports' :
		$('.category').append('스포츠/건강');
	break;
}
</script>
<div class="wrap"> 
  <div id="contentWrap"> 
  			<input type="hidden" id="category" value="<%= data[0].CATEGORY %>">
          <div class="title">
              <p class="category"> </p> 
              <h1><%= data[0].TITLE %></h1> 
              <p class="date"><%= data[0].REG_DATE %></p> 
          </div> 
          <!-- //title --> 

          <div id="topimage"><img src="img/K-006.png" alt=""/></div> 
          <!-- //topimage --> 

          <div class="information"> 
            <p class="editor"> editor </p> 
            <ul>
             <li> <span class="editor_name"><%= data[0].NIKNAME %></span></li> 
             <li class="bookname_m"> <a class="bookname">생활을 바꾸는 팁</a> </li> 
             <li> <a href="#" class="subscript">구독하기</a></li> 
            </ul>   


            <div class="count_area"><span class="viewcount"><%= data[0].CLICK_COUNT %> view</span>
            <ul> 
             <li><img src="img/con_reply_icon.png"  alt="" /><%=data2.length %></li>
             <li><img src="img/con_like_icon.png"  alt="" />8</li><!-- 구독하기 추후 수정 -->
             <!-- <li><img src="img/con_share_icon.png"  alt="" />8</li> --><!-- 공유하기 추후 수정 -->  
            </ul> 
            </div> 
            <!-- //count_area --> 
   
          </div> 
          <!-- //information --> 
          <div class="profile"><img src="<%= data[0].PROFILE_PICTURE_PATH.split('resources/')[1] %>" alt="" /></div>
          <div class="content">
          	<!-- 공유하기 추후 수정 -->
			<!--           
          	<div class="sns">
            	<ul> 
	               	<li><a href="#" class="sns_facebook">페이스북</a></li>  
	               	<li><a href="#" class="sns_twiteer">트위터</a></li>  
					<li><a href="#" class="sns_insta">인스타그램</a></li>  
	               	<li><a href="#" class="sns_mail">메일</a></li>  
	                <li><a href="#" class="sns_like">좋아요</a></li>  
            	</ul> 
            </div>
             --> 
                <% for(i in data){ %>
                  <div class="inputstyle">
                  	 <div class="pic" >
                  	 	<div class="img_origin_div"><span class="img_origin_span">출처_<%= data[i].CONTENTS_IMAGE_ORIGIN %></span></div> <!-- 이미지 출처 -->
                  	 	<div class="contents_img_div" style=""><img  src="<%= data[i].CONTENTS_IMAGE_PATH %>" alt="" /></div>
                  	 </div>
                     <div class="txt"><%- data[i].CONTENTS.replace(/\r\n/g, '<br>') %></div> 
                  </div> 
                <%} %> 
                
                <div class="slash_line"></div> 
                
                <!-- 설문조사 썸네일 -->
                <!-- <% data1.forEach(function(item, index) { %> -->
              <!--  <div id="surveyTitleDiv" style="width:500px; margin:0 auto;">
					<%if(data1!='') {%> 
						<div class="survey_banner"></div> 
						<div class="btn_arrow"></div> 
						<div><input type="hidden" id="surveyId" value="<%=item.SURVEY_ID%>"></div>
						<div class="surveyThumbDiv">
							<div class="black_bg"></div>
				   			<img class="surveyThumbnailImg" src="<%=item.SURVEY_THUMBNAIL %>" id="surveyThumbnailImg<%=index+1%>">
				   		</div>
				   		<div class="surveyTitleDiv" id="surveyTitleDiv<%=index+1%>">
				   			<span class="survey_title" id="surveyTitle<%=index+1%>"><%=item.SURVEY_TITLE %></span>
				   			<br/>
				   			<div class="more_arrow"></div>
				   		</div>
					<%} %>
				</div> -->
                <!-- 설문조사 썸네일 -->
                
                <!-- 설문조사 팝업 -->
                <div id="dialog-survey<%=index+1%>" title="IDO RESEARCH" style="display:none;">
                	<div class="selectSurveyDiv" id="selectSurveyDiv<%=index+1%>">
                	</div>
                </div>
                <!-- <%}); %> -->
                <!-- 설문조사 팝업 -->

<!-- survey css -->
<style type="text/css">
	/* 순위형/선택형 */ 
	.contsContainer div[class*=contsDiv]{
		opacity:0.6;
	}
	.contsContainer div[class*=contsDiv]:hover{
		opacity:1.0;
	}
	/* 이중택일형 */
	.selectSurveyDiv #choiceAtag {
		opacity:0.6;
	} 
	.selectSurveyDiv #choiceAtag:hover{
		opacity:1.0;
	}
	input[type=checkbox]:after{
		  content: url(images/unchecked_after.gif);
		  position:relative;
		  left:0px;
		  top:1px;
		  z-index:100;
	}
	
	/* 상위 이동 */
	.top_move {
		text-align: right;
	    margin: 5% 3%;
	    width: 10%;
	    float: right;
	}
	.top_move_btn {
		background:url('/images/common/main/contents/top_bt1.png') no-repeat;
		width: 50px;
		height: 50px;
	}
	
</style>
<!-- survey css -->

<link rel="stylesheet" href="/css/web/main/survey/surveyAnswer.css">  
<!-- survey js -->
<script type="text/javascript" src="/js/web/survey/surveyAnswer.js" ></script>                  
<!-- 별점형 별점 주기 js -->
<script type="text/javascript" src="/js/web/common/jquery.raty.js" ></script>                  

<script src="js/web/survey/amcharts.js" type="text/javascript"></script>
<script src="js/web/survey/pie.js" type="text/javascript"></script> 
             
<!-- survey js -->
<script type="text/javascript">


<% data1.forEach(function(item, index) { %>
var dialog, form;

dialog = $( "#dialog-survey<%=index+1%>" ).dialog({
  	autoOpen: false,
  	height: 700,
  	width: 980,
  	modal: true,
  	buttons: {
    	//"다음": updateTitle,
    	"닫기": function() {
    		$( "#dialog-survey<%=index+1%>" ).dialog( "close" );
   		}
	},
	close: function() {
		//컨텐츠 새창으로 다시 돌아가기
    	//location.href="/upload/update_builder_contents?contentsId="+getUrlParameter('contentsId');
		//데이터 초기화
		$('.selectSurveyDiv').empty();
		
		$('#surveyTitleDiv<%=index+1%>').unbind('onclick');
		$('#surveyTitleDiv<%=index+1%>').bind('onclick');
		
		//다음 버튼 초기화
		$('#nextBtn').unbind('click');
		$('#nextBtn').bind('click');
		
		//완료 버튼 초기화
		$('#finishBtn').unbind('click');
		$('#finishBtn').bind('click');
  	}
});

	//function startSurvey(){
	/*$('#surveyTitleDiv<%=index+1%>').on('click',function(){
		console.log('<%=index+1%>');
		console.log('surveyId::'+$('#surveyId').val());
		console.log('surveyId::<%=item.SURVEY_ID %>');
		
		$('#dialog-survey<%=index+1%>').dialog('open');
	}); */
	//}

	$(document).ready(function(){
		$.ajax({
				url : '/upload/listSurveySecondTitle?surveyId=<%=item.SURVEY_ID %>',
				type : 'GET',
				success : function(data){
					console.log(data);
					
					//title 값 for
					for(var i in data.title){
						//i값 숫자로 변환
						i = parseInt(i);  
						
						console.log('survey_type_id::'+data.title[i].SURVEY_TYPE_ID);
						
						//답변 타입 텍스트:1, 이미지:2
						var answerType = data.title[i].SURVEY_ANSWER_TYPE;
						
						var idx=0;
						
						//첫번째 survey 
						selectSurveyType(0, i);
						
						function selectSurveyType(idx, i){
							if(i==idx){
								//설문 유형 타입
								var surveyType = data.title[i].SURVEY_TYPE;
								if(surveyType=='1'){	//순위형
									console.log('순위형 i::'+i);
									var json = {title:data.title[i], reply:data.reply[i]};
									//console.log(json);
									rankingType(json, i);	
								}else if(surveyType=='2'){	//별점형
									var json = {title:data.title[i], reply:data.reply[i]};
									starType(json, i);
								}else if(surveyType=='3'){	//이중택일형
									console.log('택일형 i::'+i);
									var json = {title:data.title[i], reply:data.reply[i]};
									choiceType(json, i);
								}else if(surveyType=='4'){	//선택형
									var json = {title:data.title[i], reply:data.reply[i]};
									selectType(json, i);
								}else if(surveyType=='5'){	//텍스트형
									var json = {title:data.title[i], reply:data.reply[i]};
									textType(json, i);
								}//if
							}//if
						}//end function
					}//for	
					
					//console.log('뭐징??<%=index+1%>');
					if(idx!=i){//마지막 설문이 아닐 때
						$('#selectSurveyDiv<%=index+1%>').after('<div class="nextBtn" id="nextBtn"></div><br/>');
					}else if(idx==i){//마지막 설문일 때
						$('#nextBtn').hide();
						$('#selectSurveyDiv<%=index+1%>').after('<div class="finishBtn" id="finishBtn"></div><br/>');
					}//if
					
					//다음버튼 클릭시
					$('#nextBtn').click(function(){
						var surveyType = $('#surveyType'+(idx+1)).val();
						
						if(surveyType == 1){
							inputRank('next', idx);
						}else if(surveyType==2){
							inputStar('next', idx);
							var starScore = starScoreObj.getValue();
							console.log('starScore::::::????'+starScore);
							if(starScore==''){
								alert('해당 답변에 별점을 주시기 바랍니다.');
								return false;
							}
						}else if(surveyType==3){
							inputChoice('next', idx);
							var contsRst = contsRstVal.getValue();
							console.log('contsRst:::::::??????'+contsRst);
							if(typeof contsRst=='undefined'){
								alert('먼저 이중택일을 해주시기 바랍니다.');
								return false;
							}
						}else if(surveyType==4){
							inputSelect('next', idx);
						}else if(surveyType==5){
							inputText('next', idx);
						}//if
						
						idx += 1;
						
						for(var j=1; j<=i; j++){
							selectSurveyType(idx, j);
						}
						if(idx==i){//마지막일 때
							$('#nextBtn').hide();
							$('#selectSurveyDiv<%=index+1%>').after('<div class="finishBtn" id="finishBtn"></div><br/>');
						}//if
						$('#selectSurveyDiv<%=index+1%> #surveyDiv'+(idx)+'').hide();
						
						//설문이 여러개일 경우 완료버튼 클릭시
						$('#finishBtn').click(function(){
							var surveyType = $('#surveyType'+(idx+1)).val();
							if(surveyType == 1){
								inputRank('finish', idx);
							}else if(surveyType==2){
								inputStar('finish', idx);	
								var starScore = starScoreObj.getValue();
								console.log('starScore::::::????'+starScore);
								if(starScore==''){
									alert('해당 답변에 별점을 주시기 바랍니다.');
									return false;
								}
							}else if(surveyType==3){
								inputChoice('finish', idx);
								var contsRst = contsRstVal.getValue();
								console.log('contsRst:::::::??????'+contsRst);
								if(typeof contsRst=='undefined'){
									alert('먼저 이중택일을 해주시기 바랍니다.');
									return false;
								}
							}else if(surveyType==4){
								inputSelect('finish', idx);
							}else if(surveyType==5){
								inputText('finish', idx);
							}//if
						});
					});
					
					//설문이 1개일 경우 완료버튼 클릭시
					$('#finishBtn').click(function(){
						var surveyType = $('#surveyType'+(idx+1)).val();
						if(surveyType == 1){
							inputRank('finish', idx);
						}else if(surveyType==2){
							inputStar('finish', idx);	
							var starScore = starScoreObj.getValue();
							console.log('starScore::::::????'+typeof starScore);
							if(starScore == ''){
								alert('해당 답변에 별점을 주시기 바랍니다.');
								return false;
							}
						}else if(surveyType==3){
							inputChoice('finish', idx);
							var contsRst = contsRstVal.getValue();
							console.log('contsRst:::::::??????'+contsRst);
							if(typeof contsRst=='undefined'){
								alert('먼저 이중택일을 해주시기 바랍니다.');
								return false;
							}
						}else if(surveyType==4){
							inputSelect('finish', idx);
						}else if(surveyType==5){
							inputText('finish', idx);
						}//if
					});
					
				},//end success
				error : function(error){
					console.log(error);
				}
			});//end ajax
	})
	
	
	function rankingType(json, i){
		console.log('순위형::');
		//console.log(json.title);
		//console.log(json.reply);
		console.log('SURVEY_TYPE_ID::'+json.title.SURVEY_TYPE_ID);
		console.log('SURVEY_TYPE::'+json.title.SURVEY_TYPE);
		console.log('SURVEY_ANSWER_TYPE::'+json.title.SURVEY_ANSWER_TYPE);
		console.log('SECOND_SURVEY_TITLE::'+json.title.SECOND_SURVEY_TITLE);
		
		//중질문 타이틀
	 	var surveyTitleHtml = ''+
	 					      '<form id="surveyForm'+(i+1)+'"><div id="surveyDiv'+(i+1)+'" class="surveyDiv" style="border:0px solid #000;">'+
		 					  	'<input type="hidden" id="surveyAnswerType'+(i+1)+'" name="surveyAnswerType" value="'+json.title.SURVEY_ANSWER_TYPE+'">'+
								'<input type="hidden" id="surveyTypeId'+(i+1)+'" name="surveyTypeId" value="'+json.title.SURVEY_TYPE_ID+'"/>'+
								'<input type="hidden" id="surveyType'+(i+1)+'" name="surveyType" value="'+json.title.SURVEY_TYPE+'">'+
								'<div class="type_rank"></div>'+
	  							'<div class="surveySecondTitleDiv">'+
	  								'<div class="second_titleSpan" id="titleSpan'+(i+1)+'">'+json.title.SECOND_SURVEY_TITLE+'</div><br>'+
	  								'<div class="blue_line"></div>'+
	  							'</div>'+
	  							'<div style="height:35px"></div>'+
	  							'<div class="contsContainer"></div>'+
	  						  '</form>';
	  							
	  					
	  	<% data1.forEach(function(item, index) { %>
	  	//중질문 타이틀 append						
		$('#selectSurveyDiv<%=index+1%>').append(surveyTitleHtml);
	  	console.log('순위형 뭘까????:<%=index+1%>');
	  	<% }); %>
	  							
		for(var j in json.reply){
			console.log('j : '+j);
		  	//중질문 답변 						
			var surveyReplyHtml =	'<div class="contsDiv'+(i+1)+'" id="contsDiv'+(i+1)+'_'+(j+1)+'">'+
										'<input type="hidden" id="surveyContentsId'+(j+1)+'" name="surveyContentsId" value="'+json.reply[j].SURVEY_CONTENTS_ID+'">';
									
			if(json.title.SURVEY_ANSWER_TYPE=='1'){
				surveyReplyHtml +=	//'<div></div>'+
				  						'<div class="contsTxtDiv">'+
					  						'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
				  						'</div>';
	  		}
	  		if(json.title.SURVEY_ANSWER_TYPE=='2'){
	  			surveyReplyHtml +='		<div class="img" name="rankCheckbox"  id="img'+(i+1)+'_'+(j+1)+'" style="content: url('+json.reply[j].SURVEY_IMAGE_PATH+'); width:160px; height:160px;">'+				
		  									'<input type="hidden" name="rank_sub_input'+(i+1)+'" id="sub_input_'+(i+1)+'_'+(j+1)+'" value="">'+
	  					    			'</div>'; 		 				
	  		}//if			
			surveyReplyHtml +=			'<div class="contsTxtDiv">'+
			  								'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
			  							'</div>';	
    		surveyReplyHtml += 		'</div>';
			
    		//중질문 답변 append
			<% data1.forEach(function(item, index) { %>
    		$('#selectSurveyDiv<%=index+1%> #surveyDiv'+(i+1)+' .contsContainer').append(surveyReplyHtml);
    		<% }); %>

    		switch(json.reply.length){
    			case 2 :
    				console.log('222222');
    				$('.contsContainer div[class*="contsDiv"]').css({'padding-left':'110px'});  
    			break;
    			case 3 :
    				console.log('333333');
    				$('.contsContainer div[class*="contsDiv"]').css({'padding-left':'45px'});
    			break;
    		}
		}//for
		

		
		var clickCount = 0;
		$('div[id*=img'+(i+1)+']').click(function(){
			clickCount++;
			var matches = 1;
			var id = $(this).attr('id').split('img'+(i+1)+'_')[1];
			var rankValue = 1;
			console.log('count : '+clickCount)
			if(clickCount > 2){ //2개 이상 선택시
				if($('#sub_input_'+(i+1)+'_'+id).val()=='1' || $('#sub_input_'+(i+1)+'_'+id).val()=='2'){ //만약 2개이상 클릭시인데 1위 2위를 다시 클릭시 0으로 만듬.
					$('#sub_input_'+(i+1)+'_'+id).val('0');
					clickCount = 1;
				}else{ // 1 2위를 제외한 나머지 이미지 클릭시 alert
					alert('이미 두개를 선택하셨습니다.')
				}
			}else{ // 2개 아래로 선택시
				$("input[id*=sub_input_"+(i+1)+"]").each(function(index, val) { // 1위가 선택되어있으면 2등의 값을 제공한다.
					if ($('input[name="rank_sub_input'+(i+1)+'"]').eq(index).val() == '1') {
						rankValue = 2;
					}
				});
				if($('#sub_input_'+(i+1)+'_'+id).val()=='1' || $('#sub_input_'+(i+1)+'_'+id).val()=='2'){
					$('#sub_input_'+(i+1)+'_'+id).val('0');
				}else{
					$('#sub_input_'+(i+1)+'_'+id).val(rankValue);
					 
					$('#sub_input_'+(i+1)+'_'+id).parent().wrap('<div id="rankWrap'+id+'" style="content : url(images/common/builder/survey/'+rankValue+'.png); width:160px; height:160px;"></div>');
				}	
			}

			var wrapCount = 0;
			//순위 수정을 원할때 unwrap해주는 function
			$('div[id*=rankWrap]').click(function(){
				wrapCount++;
				if(wrapCount == 2){
					clickCount = 0;
				}else{
					clickCount = 1;
				}
				var rankWrapId = $(this).attr('id').split('rankWrap')[1];
				
				$('#sub_input_'+(i+1)+'_'+rankWrapId).val('0');
				
				$(this).children().unwrap();
			})
		})
	}
	
	function starType(json, i){
		
		console.log('별점형::');
		
		console.log('SURVEY_TYPE_ID::'+json.title.SURVEY_TYPE_ID);
		console.log('SURVEY_TYPE::'+json.title.SURVEY_TYPE);
		console.log('SURVEY_ANSWER_TYPE::'+json.title.SURVEY_ANSWER_TYPE);
		console.log('SECOND_SURVEY_TITLE::'+json.title.SECOND_SURVEY_TITLE);
		
		//중질문 타이틀
	 	var surveyTitleHtml = ''+
	 					      '<div id="surveyDiv'+(i+1)+'" class="surveyDiv" style="border:0px solid #000;">'+
		 					  	'<input type="hidden" id="surveyAnswerType'+(i+1)+'" name="surveyAnswerType" value="'+json.title.SURVEY_ANSWER_TYPE+'">'+
								'<input type="hidden" id="surveyTypeId'+(i+1)+'" name="surveyTypeId" value="'+json.title.SURVEY_TYPE_ID+'"/>'+
								'<input type="hidden" id="surveyType'+(i+1)+'" name="surveyType" value="'+json.title.SURVEY_TYPE+'">'+
								'<div class="type_star"></div>'+
	  							'<div class="surveySecondTitleDiv">'+
	  								'<span class="second_titleSpan" id="titleSpan'+(i+1)+'">'+json.title.SECOND_SURVEY_TITLE+'</span>'+
	  								'<div class="blue_line"></div>'+
		  							'<div class="secSvyTitleDiv">'+
										'<img class="secSvyTitleImg" src="'+json.title.SECOND_SURVEY_IMAGE_PATH+'" id="secSvyTitleImg'+(i+1)+'" style="width:300px; height:260px;"/>'+
									'</div>'+
	  							'</div>'+
	  							'<div class="starContainer"></div>'+
	  							'';
	  							
	  	<% data1.forEach(function(item, index) { %>	  							
		//중질문 타이틀 append						
		$('#selectSurveyDiv<%=index+1%>').append(surveyTitleHtml);
	  	console.log('별점형 뭘까????:<%=index+1%>');
	  	<% }); %>
	  							
		for(var j in json.reply){
			j = parseInt(j);
			console.log('j::'+j);
			console.log(json.reply[j].SURVEY_CONTENTS_ID);
			console.log(json.reply[j].SURVEY_CONTENTS);
			console.log(json.reply[j].SURVEY_IMAGE_PATH);
			
		  	//중질문 답변 						
			var surveyReplyHtml =	'<div class="contsDiv" id="contsDiv'+(i+1)+'_'+(j+1)+'">'+
										'<input type="hidden" id="surveyContentsId'+(j+1)+'" name="surveyContentsId" value="'+json.reply[j].SURVEY_CONTENTS_ID+'">';
									
			if(json.title.SURVEY_ANSWER_TYPE=='1'){
				surveyReplyHtml +=	//'<div></div>'+
				  						'<div class="contsTxtDiv">'+
					  						'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
				  						'</div>'+
				  						'<div class="starDiv">'+
					  						'<span class="star" id="star'+(i+1)+'_'+(j+1)+'"></span>'+
					  						'<input type="hidden" class="starRating" id="starRating'+(i+1)+'_'+(j+1)+'"/>'+
				  						'</div>'+
				  						'';
	  		}
	  		if(json.title.SURVEY_ANSWER_TYPE=='2'){
	  			surveyReplyHtml +=	
			  							'<img class="img" src="'+json.reply[j].SURVEY_IMAGE_PATH+'" id="img'+(i+1)+'_'+(j+1)+'" style="width:200px; height:160px;"/>'+
			  							'<div class="contsTxtDiv">'+
			  								'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
			  							'</div>'+
			  							'<div class="starDiv" style="position:absolute; margin:-20px 0 0 200px;">'+
					  						'<span class="star" id="star'+(i+1)+'_'+(j+1)+'"></span>'+
					  						'<input type="hidden" class="starRating" id="starRating'+(i+1)+'_'+(j+1)+'"/>'+
				  						'</div>'+
			  							'';	
	  		}//if			
	  					    		'</div>'; 		 				
    		surveyReplyHtml += '</div>';
    		
    		//중질문 답변 append
			<% data1.forEach(function(item, index) { %>
    		$('#selectSurveyDiv<%=index+1%> #surveyDiv'+(i+1)+' .starContainer').append(surveyReplyHtml);
    		<% }); %>
			$('#surveyDiv'+(i+1)+' #star'+(i+1)+'_'+(j+1)+'').raty({
				score: 0
				,path : "/images/common/main/result_survey"
				,width : 200
				,click: function(score, evt) {
					var clkContsDiv = $(this).attr('id');
					//j값 뽑아오기
					var j = clkContsDiv.split('_')[1];
					j = parseInt(j);
				 	console.log('j:::???????'+j);
				    $('#starRating'+(i+1)+'_'+j+'').val(score);
				}
			});
		}//for
	}

	
	function choiceType(json, i){
		console.log('이중택일형::');
		
		console.log('SURVEY_TYPE_ID::'+json.title.SURVEY_TYPE_ID);
		console.log('SURVEY_TYPE::'+json.title.SURVEY_TYPE);
		console.log('SURVEY_ANSWER_TYPE::'+json.title.SURVEY_ANSWER_TYPE);
		console.log('SECOND_SURVEY_TITLE::'+json.title.SECOND_SURVEY_TITLE);
		
		//중질문 타이틀
	 	var surveyTitleHtml = ''+
	 					      '<div id="surveyDiv'+(i+1)+'" class="surveyDiv" style="border:0px solid #000;">'+
		 					  	'<input type="hidden" id="surveyAnswerType'+(i+1)+'" name="surveyAnswerType" value="'+json.title.SURVEY_ANSWER_TYPE+'">'+
								'<input type="hidden" id="surveyTypeId'+(i+1)+'" name="surveyTypeId" value="'+json.title.SURVEY_TYPE_ID+'"/>'+
								'<input type="hidden" id="surveyType'+(i+1)+'" name="surveyType" value="'+json.title.SURVEY_TYPE+'">'+
								'<div class="type_choice"></div>'+
	  							'<div class="surveySecondTitleDiv">'+
	  								'<span class="second_titleSpan" id="titleSpan'+(i+1)+'" style="font-weight:700;">'+json.title.SECOND_SURVEY_TITLE+'</span>'+
	  								'<div class="blue_line"></div>'+
	  							'</div>'+
	  							'<div class="svyReplyLengDiv">'+
	  								'<span class="svyReplyIcon"></span>'+
	  								'<span class="svyReplyLengSpan">'+json.reply.length+'가지의 답변중에서 선택해주세요.</span>'+
	  							'</div>'+
	  							'<div class="choiceContainer"></div>'+
	  							'';
	  					
	  	<% data1.forEach(function(item, index) { %>
		//중질문 타이틀 append						
		$('#selectSurveyDiv<%=index+1%>').append(surveyTitleHtml);
	  	//console.log('택일형 뭘까????:<%=index+1%>');
	  	<% });%>
	  							
		for(var j in json.reply){
			j = parseInt(j);
			console.log(json.reply[j].SURVEY_CONTENTS_ID);
			console.log(json.reply[j].SURVEY_CONTENTS);
			console.log(json.reply[j].SURVEY_IMAGE_PATH);

			//답변 2개씩 보이기 
			viewConts();	//답변 append하기
			if(j>=2){	//답변 idx가 2이하만 보이기
				<% data1.forEach(function(item, index) { %>
					$('#selectSurveyDiv<%=index+1%> #contsDiv'+(i+1)+'_'+(j+1)+'').hide();
				<% }); %>
			}
 			
 			//답변 append function
    		function viewConts(){
			  	//중질문 답변 						
				var surveyReplyHtml =	'<span class="contsDiv" id="contsDiv'+(i+1)+'_'+(j+1)+'">'+
											'<input type="hidden" id="surveyContentsId'+(j+1)+'" name="surveyContentsId" value="'+json.reply[j].SURVEY_CONTENTS_ID+'">';
										
				if(json.title.SURVEY_ANSWER_TYPE=='1'){
					surveyReplyHtml +=		''+
					  						'<span class="contsTxtDiv">'+
						  						'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
					  						'</span>'+
					  						'';
		  		}else if(json.title.SURVEY_ANSWER_TYPE=='2'){
		  			surveyReplyHtml +=		''+
		  									'<a href="#" class="choiceAtag" id="choiceAtag">'+
				  							'<img class="img" src="'+json.reply[j].SURVEY_IMAGE_PATH+'" id="img'+(i+1)+'_'+(j+1)+'" style="width:200px; height:160px;"/>'+
				  							'<p class="contsTxtDiv" style="text-align:center;">'+
				  								'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
				  							'</p>'+
				  							'</a>'+
				  							'';	
		  		}//if			
		  					    		'</span>'; 		 				
		  					    		
    			surveyReplyHtml += '</div>';
    			
    			<% data1.forEach(function(item, index) { %>
    			//중질문 답변 append
        		$('#selectSurveyDiv<%=index+1%> #surveyDiv'+(i+1)+' .choiceContainer').append(surveyReplyHtml);
    			<% }); %>
			}
		}//for
		
		<% data1.forEach(function(item, index) { %>
			
			//선택한 답변 배열 선언
			var contsArr = new Array();
			
			//시작idx와 끝idx 선언
			var startIdx = 0;
			var endIdx = 2;
			
			//답변 클릭시 function
			$('.contsDiv').click(function(){
				//스크롤 고정
				$( 'html, body' ).stop().animate({ scrollTop : '+=1' });
				
				console.log('이중택일 답변 클릭!!');	
				
				//선택한 답변 id 선언
				var choiceContsDiv = $(this).attr('id'); 
				
				//선택한 답변 push
				contsArr.push(choiceContsDiv);
				
				//중복 제거
				var choiceContsArr = [];
				$.each(contsArr, function(idx, elem){
					if($.inArray(elem, choiceContsArr) == -1){
						choiceContsArr.push(elem);
						//console.log(choiceContsArr);
					}//if
				});
				
				startIdx += 2;
				endIdx += 2;
				
				if(json.reply.length==2){
					//$('#'+choiceContsDiv+' #choiceAtag').css('opacity', '1.0');
					var contsRst = $(this).attr('id');
					console.log('contsRst???'+contsRst);
					if(contsRst.length>0){
						$('.selectSurveyDiv span[id*=contsDiv]').hide();	//나머지 답변 숨김
						$('.selectSurveyDiv #'+contsRst+'').show();	//마지막 결과 답변만 보여줌
						$('#'+contsRst+' #choiceAtag').css('opacity','1.0');
						
						contsRstVal.setValue(contsRst);
					}
				}else if(json.reply.length==4){	//답변이 4개일 경우
					//if(choiceContsArr.length<2){
						
						for(var j in json.reply){
							j = parseInt(j);
							
							//2개씩 답변 보여주기
							nextConts(j);
						}//for
					//}else 
					if(contsArr.length>=2){
						console.log('contsArr::'+contsArr);
						
						for(var no in contsArr){
							no = parseInt(no);
							
							var choiceContsDiv = contsArr[no];
							
							console.log('choiceContsDiv::'+choiceContsDiv);
							//선택한 답변 div 배열 보여주기
							$('.selectSurveyDiv  #'+choiceContsDiv+'').show();
							
							if(contsArr.length>2){//답변 배열이 2이상이면 배열 마지막 값만 뽑아오기
								var contsRst = contsArr[contsArr.length-1]; 
								console.log('contsRst::'+contsRst);
								console.log('$(this).attr(id)::'+$(this).attr('id'));
								if(contsRst.length>0){
									if(contsRst==$(this).attr('id')){
										$('.selectSurveyDiv #'+contsArr[no]+'').hide();	//나머지 답변 숨김
										$('.selectSurveyDiv #'+contsRst+'').show();	//마지막 결과 답변만 보여줌
										$('#'+contsRst+' #choiceAtag').css('opacity','1.0');
										
										contsRstVal.setValue(contsRst);
									}//if
								}//if
							}//if
						}//for
					}//if	
				}else if(json.reply.length==8){	//답변이 8개일 경우
					console.log('contsArr.length:::'+contsArr.length);
					console.log('visible:::');
					
					for(var j in json.reply){
						j = parseInt(j);
						
						//2개씩 답변 보여주기
						nextConts(j);
					}//for
					
					//4강    답변 배열 4개 
					if(contsArr.length>=4){
						console.log('답변이 모두 none??');
						$('.selectSurveyDiv #contsDiv'+(i+1)+'_'+(j+1)+'').hide();
						
						var conts = contsArr; 
						
						console.log('contsArr::'+contsArr);
						
						for(var no in contsArr){
							no = parseInt(no);
							
							var choiceContsDiv = contsArr[no];
							
							if(no>=0 && no<2){	//배열의 답변1,답변2 값 2개씩 뿌리기
								console.log('contsArr[no]::'+contsArr[no]);
								$('.selectSurveyDiv  #'+contsArr[no]+'').show();
							}else {
								$('.selectSurveyDiv  #'+contsArr[no]+'').hide();
							}//if										
							
							$('.selectSurveyDiv  #'+contsArr[no]+'').click(function(){
								console.log('원원원원원');
								for(var no in contsArr){
									no = parseInt(no);
									if(no>=2 && no<4){	//배열의 답변3,답변4 값 2개씩 뿌리기
										console.log('contsArr[no]::'+contsArr[no]);
										$('.selectSurveyDiv #'+contsArr[no]+'').show();
									}else {
										$('.selectSurveyDiv #'+contsArr[no]+'').hide();
									}//if
								
									//2강(결승) 
									$('.selectSurveyDiv  #'+contsArr[no]+'').click(function(){
										console.log('투투투투투투');
										for(var no in contsArr){
											no = parseInt(no);
											if(no>=4 && no<6){	//답변 선택시 다음 값 2개씩 뿌리기
												console.log('contsArr[no]::'+contsArr[no]);
												$('.selectSurveyDiv #'+contsArr[no]+'').show();
											}else {
												$('.selectSurveyDiv #'+contsArr[no]+'').hide();
											}//if
										}//for
										
										if(contsArr.length>4){//답변 배열이 2이상이면 배열 마지막 값만 뽑아오기
											
											var contsTmp = []; 
											contsTmp.push(contsArr[contsArr.length-2]); 
											contsTmp.push(contsArr[contsArr.length-1]); 
											
											for(var no in contsTmp){	//마지막 답변 뽑아오기
												$('.selectSurveyDiv #'+contsTmp[no]+'').click(function(){
													console.log('$(this).attr(id)::'+$(this).attr('id'));
													contsTmp.push($(this).attr('id'));
													console.log('contsTmp::'+contsTmp);
													var contsRst = contsTmp[contsTmp.length-1];
													console.log('contsRst::'+contsRst);
													
													if(contsRst.length>0){
														if(contsRst==$(this).attr('id')){
															for(var no in contsTmp){//나머지 답변 숨기기
																$('.selectSurveyDiv #'+contsTmp[no]+'').hide();
															}//for
															//마지막 답변 보여주기
															$('.selectSurveyDiv #'+contsRst+'').show();
															$('#'+contsRst+' #choiceAtag').children('img').css({'width':'400px', 'height':'350px'});
															$('#'+contsRst+' #choiceAtag').css('opacity','1.0');
															
															contsRstVal.setValue(contsRst);
														}//if
													}//if 
												});	
											}//for
										}//if
									});
								}//for
							});
						}//for
					}//if
				}//if
				
				function nextConts(j){
					if(j>=startIdx && j<endIdx){	//답변 선택시 다음 값 2개씩 뿌리기 
						console.log('contsClick  j::'+j);
						//답변 다음값 보이기
						$('.selectSurveyDiv #contsDiv'+(i+1)+'_'+(j+1)+'').show();
					}else{
						//답변 나머지 숨기기
						$('.selectSurveyDiv #contsDiv'+(i+1)+'_'+(j+1)+'').hide();
					}//if
				}//end funcion
			});
		<%}); %>
	}
	
	
	
	function selectType(json, i){

		console.log('선택형::');
		//console.log(json.title);
		//console.log(json.reply);
		console.log('SURVEY_TYPE_ID::'+json.title.SURVEY_TYPE_ID);
		console.log('SURVEY_TYPE::'+json.title.SURVEY_TYPE);
		console.log('SURVEY_ANSWER_TYPE::'+json.title.SURVEY_ANSWER_TYPE);
		console.log('SECOND_SURVEY_TITLE::'+json.title.SECOND_SURVEY_TITLE);
		
		//중질문 타이틀
	 	var surveyTitleHtml = ''+
	 					      '<form id="surveyForm'+(i+1)+'"><div id="surveyDiv'+(i+1)+'" class="surveyDiv" style="border:0px solid #000;">'+
		 					  	'<input type="hidden" id="surveyAnswerType'+(i+1)+'" name="surveyAnswerType" value="'+json.title.SURVEY_ANSWER_TYPE+'">'+
								'<input type="hidden" id="surveyTypeId'+(i+1)+'" name="surveyTypeId" value="'+json.title.SURVEY_TYPE_ID+'"/>'+
								'<input type="hidden" id="surveyType'+(i+1)+'" name="surveyType" value="'+json.title.SURVEY_TYPE+'">'+
								'<div class="type_select"></div>'+
	  							'<div class="surveySecondTitleDiv">'+
	  								'<span class="second_titleSpan" id="titleSpan'+(i+1)+'" style="font-weight:700;">'+json.title.SECOND_SURVEY_TITLE+'</span>'+
	  								'<div class="blue_line"></div>'+
	  							'</div>'+
	  							'<div style="height:35px"></div>'+
	  							'<div class="contsContainer"></div>'+
	  							'</form>'+
	  							'';
	  					
	  	<% data1.forEach(function(item, index) { %>
		  	//중질문 타이틀 append	
		  	$('.content').append('<div id="tt_<%=index+1%>"></div>') 
			$('#selectSurveyDiv<%=index+1%>').append(surveyTitleHtml);
	  	<% }); %>
	  							
		for(var j in json.reply){
			j = parseInt(j);
			console.log('j::'+j);
			console.log(json.reply[j].SURVEY_CONTENTS_ID);
			console.log(json.reply[j].SURVEY_CONTENTS);
			console.log(json.reply[j].SURVEY_IMAGE_PATH);
			
		  	//중질문 답변 						
			var surveyReplyHtml =	'<div class="contsDiv'+(i+1)+'" id="contsDiv'+(i+1)+'_'+(j+1)+'" name="contsDiv'+(i+1)+'_s'+(j+1)+'">'+
										'<input type="hidden" id="surveyContentsId'+(j+1)+'" name="surveyContentsId" value="'+json.reply[j].SURVEY_CONTENTS_ID+'">';
									
			if(json.title.SURVEY_ANSWER_TYPE=='1'){
				surveyReplyHtml +=	//'<div></div>'+
				  						'<div class="contsTxtDiv">'+
					  						'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
				  						'</div>';
	  		}
	  		if(json.title.SURVEY_ANSWER_TYPE=='2'){
	  			surveyReplyHtml +=		'<div class="img" name="selectCheckbox"  id="select_img'+(i+1)+'_'+(j+1)+'" style="content: url('+json.reply[j].SURVEY_IMAGE_PATH+'); width:160px; height:160px;">'+				
	  										'<input type="hidden" name="select_sub_input'+(i+1)+'" id="select_sub_input_'+(i+1)+'_'+(j+1)+'" value="">'+
	  					    			'</div>'; 		 				
	  		}//if			
	  		surveyReplyHtml +=			'<div class="contsTxtDiv">'+
											'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
										'</div>';
    		surveyReplyHtml += 		'</div>';
			
    		//중질문 답변 append
			<% data1.forEach(function(item, index) { %>
    		$('#selectSurveyDiv<%=index+1%> #surveyDiv'+(i+1)+' .contsContainer').append(surveyReplyHtml);
    		<% }); %>

			console.log('???????????????????? : '+$('div[name$=_s4]').attr('id'));
			switch(json.reply.length){
    			case 2 :
    				console.log('222222');
    				$('.contsContainer div[class*="contsDiv"]').css({'padding-left':'110px'});  
    			break;
    			case 3 :
    				console.log('333333');
    				$('.contsContainer div[class*="contsDiv"]').css({'padding-left':'45px'});
    			break;
    			case 4 :
    				console.log('444444');
    				$('.contsContainer div[class*="contsDiv"]').css({'padding-left':'25px'});
    			break;
    			case 5 :
    				console.log('555555');
    				$('.contsContainer div[class*="contsDiv"]').css({'padding-left':'30px'});
    				$('div[name$=_s1]').css({'padding-left':'65px'});
    				$('div[name$=_s4]').css({'padding-left':'155px','padding-top':'20px'});
    				$('div[name$=_s5]').css({'padding-top':'20px'});
    			break;
    			case 6 :
    				console.log('666666');
    				$('.contsContainer div[class*="contsDiv"]').css({'padding-left':'35px'});
    			break;
    		}

		}//for
		

		$('div[id*=select_img'+(i+1)+']').click(function(){
			var id = $(this).attr('id').split('img'+(i+1)+'_')[1];
			
			console.log('id : '+id);
			if($('#select_sub_input_'+(i+1)+'_'+id).val()=='1'){
				$('#select_sub_input_'+(i+1)+'_'+id).val('0');
			}else{
				$('#select_sub_input_'+(i+1)+'_'+id).val('1');
				$('#select_sub_input_'+(i+1)+'_'+id).parent().wrap('<div id="selectWrap'+id+'" style="content : url(images/common/builder/survey/check_img2.png); width:160px; height:160px;"></div>');
			}


		$('div[id*=selectWrap]').click(function(){
			var selectWrap = $(this).attr('id').split('selectWrap')[1];
			
			$('#select_sub_input_'+(i+1)+'_'+selectWrap).val('0');
			
			$(this).children().unwrap();
		})

			
		})
	}
	
	function textType(json, i){
		console.log('텍스트형::');
		
		console.log('SURVEY_TYPE_ID::'+json.title.SURVEY_TYPE_ID);
		console.log('SURVEY_TYPE::'+json.title.SURVEY_TYPE);
		console.log('SURVEY_ANSWER_TYPE::'+json.title.SURVEY_ANSWER_TYPE);
		console.log('SECOND_SURVEY_TITLE::'+json.title.SECOND_SURVEY_TITLE);
		
		//중질문 타이틀
	 	var surveyTitleHtml = ''+
	 					      '<div id="surveyDiv'+(i+1)+'" class="surveyDiv" style="border:0px solid #000;">'+
		 					  	'<input type="hidden" id="surveyAnswerType'+(i+1)+'" name="surveyAnswerType" value="'+json.title.SURVEY_ANSWER_TYPE+'">'+
								'<input type="hidden" id="surveyTypeId'+(i+1)+'" name="surveyTypeId" value="'+json.title.SURVEY_TYPE_ID+'"/>'+
								'<input type="hidden" id="surveyType'+(i+1)+'" name="surveyType" value="'+json.title.SURVEY_TYPE+'">'+
								'<div class="surveyTypeDiv" style="font-size:1.2em; font-weight:700;"><span class="surveyTypeTxt">텍스트형</span></div>'+
	  							'<div class="surveySecondTitleDiv">'+
	  								'<span class="second_titleSpan" id="titleSpan'+(i+1)+'" style="font-weight:700;">'+json.title.SECOND_SURVEY_TITLE+'</span>'+
	  							'</div>'+
	  							'';
	  							
	  	<% data1.forEach(function(item, index) { %>	  					
		//중질문 타이틀 append						
		$('#selectSurveyDiv<%=index+1%>').append(surveyTitleHtml);
	  	console.log('텍스트형 뭘까????:<%=index+1%>');
	  	<% }); %>
	  							
		for(var j in json.reply){
			j = parseInt(j);
			console.log('j::'+j);
			console.log(json.reply[j].SURVEY_CONTENTS_ID);
			console.log(json.reply[j].SURVEY_CONTENTS);
			console.log(json.reply[j].SURVEY_IMAGE_PATH);
			
		  	//중질문 답변 						
			var surveyReplyHtml =	'<div class="contsDiv'+(i+1)+'" id="contsDiv'+(i+1)+'_'+(j+1)+'">'+
										'<input type="hidden" id="surveyContentsId'+(j+1)+'" name="surveyContentsId" value="'+json.reply[j].SURVEY_CONTENTS_ID+'">';
									
			if(json.title.SURVEY_ANSWER_TYPE=='1'){
				surveyReplyHtml +=	//'<div></div>'+
				  						'<div class="contsTxtDiv">'+
					  						'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
				  						'</div>';
	  		}
	  		if(json.title.SURVEY_ANSWER_TYPE=='2'){
	  			surveyReplyHtml +=	
			  							'<img class="img" src="'+json.reply[j].SURVEY_IMAGE_PATH+'" id="img'+(i+1)+'_'+(j+1)+'" style="width:200px; height:160px;"/>'+
			  							'<div class="contsTxtDiv">'+
			  								'<span class="contsTxtSpan" id="contentsSpan'+(i+1)+'_'+(j+1)+'" >'+json.reply[j].SURVEY_CONTENTS+'</span>'+
			  							'</div>';	
	  		}//if			
	  					    		'</div>'; 		 				
    		surveyReplyHtml += '</div>';
			
    		//중질문 답변 append
			<% data1.forEach(function(item, index) { %>
    		$('#selectSurveyDiv<%=index+1%> #surveyDiv'+(i+1)+'').append(surveyReplyHtml);
    		<% }); %>
		}//for
		
		//$('.selectSurveyDiv').append('<div><input type="button" class="nextBtn" id="nextBtn'+(i+1)+'" value="다음"></div><br/>');
	}
<%}); %>

	/***** 상위 이동 버튼 *****/
	var top_move = '';
	top_move =	'<div class="top_move">'+
					'<div class="top_move_btn" id="topMoveBtn"></div>'
				'</div>';
	$('.replywrap').before(top_move);
	
	$('#topMoveBtn').click(function(){
		$('html, .jquery-modal').animate({scrollTop: '0'}, 100);
		//window.scroll(0, 0);
	});
	/***** 상위 이동 버튼 *****/


	/***** 닫기 버튼 *****/
	var close = '';
	close =	'<a href="#close-modal" rel="modal:close" class="close-modal"><div class="close">'+
					'<div class="close_btn " id="closeBtn" rel="modal:close"></div></a>'
			'</div>';
	$('.replywrap').before(close);
	
	$('#closeBtn').click(function(){
$('#modal').modal('toggle');
		//window.scroll(0, 0);
	});
	/***** 상위 이동 버튼 *****/
</script>

<script type="text/javascript">
/*** date format ***/
String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
Number.prototype.zf = function(len){return this.toString().zf(len);};
Date.prototype.format = function(f) {
    if (!this.valueOf()) return " ";
 
    var weekName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
    var d = this;
     
    return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
        switch ($1) {
            case "yyyy": return d.getFullYear();
            case "yy": return (d.getFullYear() % 1000).zf(2);
            case "MM": return (d.getMonth() + 1).zf(2);
            case "dd": return d.getDate().zf(2);
            case "E": return weekName[d.getDay()];
            case "HH": return d.getHours().zf(2);
            case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
            case "mm": return d.getMinutes().zf(2);
            case "ss": return d.getSeconds().zf(2);
            case "a/p": return d.getHours() < 12 ? "오전" : "오후";
            default: return $1;
        }
    });
};
/*** date format ***/
 
 
/*** 글자수 제한 ***/
$(function() {
    $('.chcount').each(function() {
        // count 정보 및 count 정보와 관련된 textarea/input 요소를 찾아내서 변수에 저장한다.
        var $count = $('.chcounttx', this);
        var $input = $('#replyContents');
        // .text()가 문자열을 반환하기에 이 문자를 숫자로 만들기 위해 1을 곱한다.
        var maximumCount = $count.text() * 1;
        // update 함수는 keyup, paste, input 이벤트에서 호출한다.
        var update = function() {
            var before = $count.text() * 1;
            var now = maximumCount - $input.val().length;
            // 사용자가 입력한 값이 제한 값을 초과하는지를 검사한다.
            if (now < 0) {
                var str = $input.val();
                alert('글자 입력수가 초과하였습니다.');
                $input.val(str.substr(0, maximumCount));
                now = 0;
            }
            // 필요한 경우 DOM을 수정한다.
            if (before != now) {
                $count.text(now);
            }
        };
        // input, keyup, paste 이벤트와 update 함수를 바인드한다
        $input.bind('input keyup paste', function() {
            setTimeout(update, 0)
        });
        update();
    });
});
/*** 글자수 제한 ***/

<% for(var i in data2) { %>
	//ex) 2016.03.24 23:30
	var date = new Date('<%=data2[i].REG_DATE%>').format('yyyy.MM.dd HH:mm');
	//댓글 등록일 태그에 넣음
	$('#replyDate<%=i+1%>').text(date);

 
	var profilePath =  '<%=data2[i].PROFILE_PICTURE_PATH%>';
	//console.log(profilePath);
	var profileIdx = profilePath.indexOf('/');
	//console.log('indexOf:::::'+profileIdx);
	var profile = profilePath.substring(profileIdx);
	//프로필 사진 img src에 넣음
	$('#reply_profile<%=parseInt(i)+1%>').attr('src', profile);
<% } %>

<% if(session != ''){ %>
	var sessionProfPath =  '<%=session[0].PROFILE_PICTURE_PATH%>';
	//console.log(sessionProfPath);
	var sessionProfIdx = sessionProfPath.indexOf('/');
	//console.log('indexOf:::::'+profileIdx);
	var sessionProf = sessionProfPath.substring(sessionProfIdx);
	//프로필 사진 img src에 넣음
	$('#session_profile').attr('src', sessionProf);
<%} else{ %>
	$('#replyContents').text('로그인시 이용 가능한 서비스입니다.');
	$('#replyContents').attr('readonly', true);
<%} %>

//베스트 댓글 2개만 best img를 줌 
<% for(var i in data2) { %>
	if(<%=parseInt(i)+1%><=2){
		$('#best_reply<%=parseInt(i)+1%>').attr('src', 'img/reply_best_icon.png');
	}else {
		$('#best_reply<%=parseInt(i)+1%>').attr('src', '');
	}
<% }%> 	
</script>
          <!-- 댓글시작 --> 
            <div class="replywrap"> 
               <img src="img/reply_icon.png" alt=""/> <span class="replytitle"> 댓글쓰기</span> <span class="replytx">타인을 배려하는 마음을 담아 댓글을 달아주세요. </span> 
               <div class="writewrap"> 
               	   <div class="writer">
               	      <div class="reprofile"><img id="session_profile" src="/images/common/main/contents/noprofile.png" alt="" /></div>
               	   </div> 
               	   <div class="contents">
               	        <textarea id="replyContents" rows="5" cols="90"></textarea><a class="resubmit" id="replySubmit" href="#" rel="#"></a> 
               	        <div class="chcount"> <span class="chcounttx">200</span> / 200 </div> 
               	   </div> 
               </div> 
               <!-- replylist -->
               <% for(var i in data2) { %>
               <div class="replylist"> 
               	   <input type="hidden" id="contentsReplyId<%=parseInt(i)+1%>" value="<%=data2[i].CONTENTS_REPLY_ID %>">
               	   <input type="hidden" id="userId<%=parseInt(i)+1%>" value="<%=data2[i].USER_ID %>">
                    <div class="writerarea"><div class="reprofile"><img id="reply_profile<%=parseInt(i)+1%>" src="" alt="" /></div></div> 
                    <div class="rightcon">
                      <div class="likearea"> 
                      	 <div class="report"><a href="">신고하기</a></div>
                      	 <div class="like"><span id="likeSpan<%=parseInt(i)+1%>"><a id="likeA<%=parseInt(i)+1%>" href="#" rel="#"><img id="likeImg<%=parseInt(i)+1%>" src="/images/common/main/contents/reply_unlike.png"  alt="" /><span class="likecount">좋아요&nbsp;<%=data2[i].RECOMMENDATION%></span></a></span></div>
                      	 <div class="delete_reply"><a id="delReply<%=parseInt(i)+1%>"  href="#" rel="#" ><img id="delImg<%=parseInt(i)+1%>" src="/images/common/main/contents/del_icon.png"  alt="" /><span class="del_txt">삭제</span></a></div>
                      </div> 
                    	 <img class="best_reply" id="best_reply<%=parseInt(i)+1%>" src="#" alt=""/> <span class="nickname"><%=data2[i].NIKNAME%></span><span class="replydate" id="replyDate<%=(i+1)%>"> </span> 
                    	  <div class="contents">
                    	  	<%=data2[i].REPLY%>
                    	  </div> 
                    	  <!-- //contents -->
                     </div> 
                     <!-- //rightcon --> 
               </div>
               <% }%> 
               <!-- //replylist --> 
            </div>
            <!-- //replywrap--> 
          <!-- //댓글 끝--> 
          </div> 
          <!-- //content -->        
  </div> 
  <!-- //contentWrap --> 
<style type="text/css">
span[id*="likeSpan"]{
	cursor: pointer;
}
</style> 
<script type="text/javascript">
var fd = new FormData();
<% if(session == ''){ %> //세션이 없으면
	$('#replySubmit').css('cursor','default');	//댓글 등록 버튼
<%} else{ %>
	<% for(var i in data2) { %>
	<% for(var j in likeInfo) { %>
			console.log('좋아요 컨텐츠 댓글 id:::::::'+<%=likeInfo[j].CONTENTS_REPLY_ID %>);
			console.log('댓글  컨텐츠 댓글 id:::::::'+<%=data2[i].CONTENTS_REPLY_ID %>);
			//좋아요 컨텐츠_댓글_id와 댓글 컨텐츠_댓글_id가 같고 좋아요플래그가 1이면 
			if( (<%=likeInfo[j].CONTENTS_REPLY_ID %> == <%=data2[i].CONTENTS_REPLY_ID %>) && (<%=likeInfo[j].LIKE_FLAG %>=='1') ){
				$('#likeImg<%=parseInt(i)+1%>').attr('src','/images/common/main/contents/reply_like.png');
			}
	<%} %>
	<%} %>
<%} %>

$('#replySubmit').click(function(e){
	$( 'html, body' ).stop().animate({ scrollTop : '+=1' });
	//컨텐츠 id
	var contents_id =  <%= data[0].CONTENTS_ID %>;
	console.log('contents_id::::::???'+contents_id);
	
	//댓글 
	var reply = $('#replyContents').val();
	if(reply==''){
		alert('댓글을 입력해주세요.');
		return false;
	}
	
	<% if(session == ''){ %> //세션이 없으면
		alert('로그인시 이용 가능한 서비스입니다.');
		e.preventDefault();
	<%}else { %> //세션이 있으면 댓글 달기 가능
		
		//팝업 리로드
		$(this).attr('rel', 'modal:open');
		$(this).attr('href', '/view_contents?contentsId=<%=data[0].CONTENTS_ID%>');
		
		fd.append('reply', reply);
		fd.append('contents_id', contents_id);
		
		$.ajax({
			url : '/reply/insert_reply',
			data : fd,
			type : 'POST',
			processData : false,
			contentType : false,
			success : function(){
				console.log('댓글 성공!');
			}
		});
	<%} %>
});

<% for(var i in data2) { %>
$('#likeSpan<%=parseInt(i)+1%>').click(function(e){
	
	$('.jquery-modal').stop().animate({ scrollTop : '+=200' });
	//$( 'html, div[class*="jquery-modal"]' ).stop().animate({ scrollTop : '+=1' });
	
	var contentsReplyId = $('#contentsReplyId<%=parseInt(i)+1%>').val();
	console.log('댓글 인덱스');
	console.log(contentsReplyId);
	
	<% if(session == ''){ %> //세션이 없으면
		e.preventDefault();
		alert('로그인시 이용 가능한 서비스입니다.');
	<%}else{ %> //세션이 있으면 추천하기 가능
		
		//팝업 리로드
		$('#likeA<%=parseInt(i)+1%>').attr('rel', 'modal:open');
		$('#likeA<%=parseInt(i)+1%>').attr('href', '/view_contents?contentsId=<%=data[0].CONTENTS_ID%>');
		
		fd.append('contentsReplyId', contentsReplyId);
		fd.append('sessionUserId', <%=session[0].USER_ID%>);
	
		$.ajax({
			url : '/reply/update_like',
			data : fd,
			type : 'POST',
			processData : false,
			contentType : false,
			success : function(data){
				console.log('추천 성공!');
				console.log(data);
			}
		});
	<%} %>
});

//댓글 삭제
$('#delReply<%=parseInt(i)+1%>').click(function(e){
	console.log('댓글삭제?????????');
	var contentsReplyId = $('#contentsReplyId<%=parseInt(i)+1%>').val();
	console.log('contentsReplyId::::::::::::'+contentsReplyId);
	
	<% if(session != ''){ %>
		var session_user_id = <%=session[0].USER_ID %>;
		
		var reply_user_id = $('#userId<%=parseInt(i)+1%>').val();
		
		console.log('session_user_id:::::::::::::'+session_user_id);
		console.log('reply_user_id :::::::::::::'+reply_user_id );
		
		if(session_user_id != reply_user_id){
			alert('작성하신 글만 삭제할 수 있습니다.');
			return false;
		}else {
			//팝업 리로드
			$('#delReply<%=parseInt(i)+1%>').attr('rel', 'modal:open');
			$('#delReply<%=parseInt(i)+1%>').attr('href', '/view_contents?contentsId=<%=data[0].CONTENTS_ID%>');
			
			$.ajax({
				url : '/reply/delete_reply?contentsReplyId='+contentsReplyId,
				data : fd,
				type : 'POST',
				processData : false,
				contentType : false,
				success : function(){
				}//end success
			});//end ajax
		}
	<%}else {%>
		e.preventDefault();
		alert('로그인시 이용 가능한 서비스입니다.');
	<%} %>
});

<%} %>
</script>


</div> 