<!DOCTYPE html>
<html>
<head>
<title>아이두2</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
<link rel="stylesheet" href="/css/web/main/contents/view_origin_image.css">
<script type="text/javascript" src="/js/mobile/main/survey/panzoom.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".panzoom").panzoom({
		  $zoomIn: $(".zoom-in"),
		  $zoomOut: $(".zoom-out"),
		  $zoomRange: $(".zoom-range"),
		  $reset: $(".reset"),
		  contain: "invert",
		  minScale: 1
		})
	
	
	var width = $('.origin_image').width();
	var height = $('.origin_image').height();
	console.log('w : '+width)
	
		console.log('h1 : '+height)
	if(width > height || height != 0){
		console.log('h : '+height)
		var checkV = width - height;
		if(height > 200){
			$('#panzoom-parent').css('top','100px')
		}else{
			$('#panzoom-parent').css('top',height)
		}

	}
	
	$('.prev').click(function(){
		//history.back();
		history.go(-1);
	});
	
	console.log('<%=image.IMAGE_ORIGIN %>');
	console.log('<%=image.IMAGE_ORIGIN %>');
	
	
})
</script>
<body>
	<!-- 별점형일 경우 -->
	<div class="top_back"></div>
		<div class="prev_back"></div>
		<div class="top_banner">
			<!-- <div class="reply_container" style=" left: 10%;"><img src="/img/mobile/main/reply/content_reply_icon.png" style="width: 17px; height: auto;">&nbsp;&nbsp;<span class="reply_cnt">0</span></div>
		  	<div class="like_container" style=" left: 43%;"><img src="/img/mobile/main/reply/content_like_icon.png" style="width: 17px; height: auto;">&nbsp;&nbsp;<span class="reply_cnt">1,239</span></div>
		  	<div class="share_container" style=" left: 76%;"><img src="/img/mobile/main/reply/content_share_icon.png" style="width: 17px; height: auto;">&nbsp;&nbsp;<span class="reply_cnt">1,118</span></div> -->
		</div>
		<div class="prev">
			<img src="/img/mobile/main/survey/arrow_back.png">
		</div>
		<% if( image.SURVEY_TYPE == '5' ) { %> 
			<div class="origin">출처 - <span class="oring_txt"><%=image.IMAGE_ORIGIN %></span></div>
			<div class="link"><a href="<%=image.IMAGE_LINK_ADDR %>">이동하기</a></div>
		<% }else { %> 
		<div class="origin">출처 - <span class="oring_txt"><%=image.SURVEY_ORIGIN %></span></div>
		<div class="link"><a href="<%=image.SURVEY_LINK_ADDR %>">이동하기</a></div>
		<% } %>
	
	<section id="panzoom-parent" style="bottom: 20px;">
	  <div class="panzoom">
	    <% if( image.SURVEY_TYPE == '5' ) { %> 
			<img src="<%= image.SECOND_SURVEY_IMAGE_PATH %>" style="" class="origin_image">
		<% }else { %> 
			<img src="<%= image.SURVEY_IMAGE_PATH %>" style="" class="origin_image">
		<% } %>
	  </div>
	</section>
	<div class="footer">
		<div class="reply_container" ><img src="/img/mobile/main/reply/content_reply_icon.png" style="width: 17px; height: auto;">&nbsp;&nbsp;<span class="reply_cnt">0</span></div>
	  	<div class="like_container" ><img src="/img/mobile/main/reply/content_like_icon.png" style="width: 17px; height: auto;">&nbsp;&nbsp;<span class="reply_cnt">39</span></div>
	  	<div class="share_container" ><img src="/img/mobile/main/reply/content_share_icon.png" style="width: 17px; height: auto;">&nbsp;&nbsp;<span class="reply_cnt">24</span></div>
	</div>
</body>
</html>
 
            
